<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <title>Shop</title>
    
	<!-- CSS files -->
	<link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="Content/styles.css" rel="stylesheet" />
    <link href="Content/animations.css" rel="stylesheet" />

    <!-- Google Maps Script -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJKHszUW23B4coaP01Qam8wkRtNnZqjEw"></script>
</head>
<body data-ng-cloak="">

    <!-- Angular div that addresses a controller - NavbarController for the Menu -->
    <div class="navbar navbar-fixed-top" data-ng-controller="NavbarController">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand " href="#/">
                    <img src="Content/Images/people.png" alt="logo"> {{ appTitle }}
                </a>
                <ul class="nav nav-pills navBarPadding">
                    <li data-ng-class="{'active':highlight('/products')}"><a href="#/products">Products</a></li>
                    <li data-ng-if="checkAdmin()" data-ng-class="{'active':highlight('/customers')}"><a href="#/customers">Customers</a></li>
                    <li data-ng-if="checkAdmin()" data-ng-class="{'active':highlight('/orders')}"><a href="#/orders">Orders</a></li>
                    <li data-ng-class="{'active':highlight('/branches')}"><a href="#/branches">Branches</a></li>
                  <!--  <li  data-ng-class="{'active':highlight('/logout')}"><a href="#/" data-ng-controller="loginController" data-ng-click="doLogout()" >logout</a></li>-->


                    <li data-ng-class="{'active':highlight('/about')}"><a href="#/about">About</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div data-ng-view="" id="ng-view" class="slide-animation"></div>

    <div id="footer">
        <div class="navbar navbar-fixed-bottom">
            <div class="navbar-inner footer">
                <div class="container">
                    <footer>
                        <div class="row">
                            <div class="span12">
                                <div style="width:100px;height:100px">
                                    <a href="http://www.accuweather.com/en/il/tel-aviv/215854/weather-forecast/215854"
                                       class="aw-widget-legal">
                                    </a>
                                    <div id="awcc1477324979360"
                                         class="aw-widget-current"
                                         data-locationkey="215854"
                                         data-unit="c"
                                         data-language="en-us"
                                         data-useip="false"
                                         data-uid="awcc1477324979360"></div>
                                    <script type="text/javascript" src="http://oap.accuweather.com/launch.js">
                                    </script>
                                    <canvas id="cvs" width="500" height="100">
                                        Your browser does not support the HTML 5 Canvas.
                                    </canvas>
                                </div>

                               <!-- Created by <a href="http://twitter.com/DanWahlin" target="_blank">Dan Wahlin</a>-->
                            </div>
                        </div>

                   </footer>
                </div>
            </div>
        </div>
    </div>

    <div data-wc-overlay="" data-wc-overlay-delay="300">
        <br /><img src="/Content/images/spinner.gif" />&nbsp;&nbsp;Loading
    </div>

    <!-- 3rd party libraries -->
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-route.js"></script>
    <script src="/Scripts/angular-animate.js"></script>
    <script src="/Scripts/angular-ui-bootstrap.js"></script>
    <script src="/Scripts/tweenMax.min.js"></script>

    <!-- jQuery only needed with Breeze so not loaded before AngularJS in this example-->
    <!-- If you want jQuery to replace jqlite in AngularJS then load jQuery before angular.js (not needed in this app though) -->
    <script src="/Scripts/jquery.min.js"></script>
    <script src="/Scripts/q.min.js"></script>
    <script src="/Scripts/breeze.min.js"></script>
    <script src="/Scripts/to$q.js"></script>

    <!-- Load custom scripts via RequireJS -->
    <script src="/Scripts/require.js" data-main="/scripts/main"></script>


</body>
</html>