<div class="view">
    <div class="container">
        <header>
            <h2>Buy Now !!!</h2>
        </header>
            <div>
                <div class="row">
                    <div class="span12 text-center">
                        <h2>{{ product.name}} <!--(<a style="font-size:12pt" href="#/customerorders/{{customer.id}}">View Orders</a>)--></h2>
                        <br />
                    </div>
                </div>



                <div class="row">
                    <div class="span2">
                        Type:
                    </div>
                    <div class="span10">
                        <p class="mb-0">{{product.type}} </p>

                    </div>
                </div>

                <div class="row">
                    <div class="span2">
                        Price:
                    </div>
                    <div class="span10">
                        <p class="mb-0">{{product.price}} </p>

                    </div>
                </div>

                <div class="row">
                    <div class="span2">
                        stock:
                    </div>
                    <div class="span10">

                        <p class="mb-0">{{product.stock}} </p>

                    </div>
                </div>

                <div class="row">
                    <div class="span2">
                        Producer:
                    </div>
                    <div class="span10">

                        <p class="mb-0">{{product.producer}} , for this producer we have another {{totalProducer}} items</p>


                    </div>
                </div>

                <div class="row">
                    <div class="span2">
                        Images:
                    </div>
                    <div class="span10">

                        <p class="mb-0">{{product.images}} </p>

                    </div>

                </div>

                <div class="row">
                    <div class="span2">
                        Amount:
                    </div>
                    <div class="span1">
                        <input type="number" data-ng-model="amount" min="1" max="99" required/>
                    </div>

                </div>

                <div class="row">
                    <div class="span12">
                        <form name="editForm" enctype="multipart/form-data" novalidate >

                            <button type="submit" class="btn btn-primary" data-ng-click="buyProduct()" >Buy product</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <br />
                    <div class="span10 label label-success show-hide-animation" data-ng-show="updateStatus">
                        <i class="icon-thumbs-up icon-white"></i>&nbsp;&nbsp;Product bought!
                    </div>
                    <div class="span10 label label-important show-hide-animation" data-ng-show="errorMessage">
                        <i class="icon-thumbs-down icon-white"></i>&nbsp;&nbsp;Error: {{ errorMessage }}
                    </div>
                </div>

                <form name="editForm" enctype="multipart/form-data" novalidate>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="page-header">
                                    <h1><small class="pull-right">{{product.comments.length}} comments</small> Comments </h1>
                                </div>



                                <div class="comments-list" data-ng-repeat="comment in product.comments">
                                    <div class="media">
                                        <p class="pull-right"><small> {{datefix(comment.dateTime)}}</small></p>
                                        <a class="media-left" href="#">
                                            <img src="Content/Images/people.png">
                                        </a>
                                        <div class="media-body">

                                            <h4 class="media-heading user_name">{{comment.customerName}}</h4>
                                            {{comment.textContent}}
                                        </div>
                                    </div>

                                </div>



                            </div>
                        </div>
                    </div>
                    <br><br>
                    <input type="text" data-ng-model="newComment"/>
                    <button type="submit" class="btn btn-primary" data-ng-click="addComment()" >Add Comment</button>
                </form>
            </div>
        </form>
    </div>
</div>


<br><br><br><br><br>